<div class="list-item row">
  <div class="col-md-7">
    <p>{{title}}</p>
    <p>比赛时间：{{createTime}}</p>
    <p>竞赛类型：{{type}}</p>
    <p>当前赛段：{{type}}</p>
  </div>
  <div class="col-md-5">
    <button type="button" class="btn btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">进入比赛</button>
  </div>
</div>